*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


body{
  background-color:rgb(211, 151, 74);
  background-image: url("./assets/fondoverdenaranja.jpg");
  display: flex;
  flex-direction: column;
}

.contenedora{
  display: grid;
  grid-template-areas: 
  "header "
  "botoneradenavegacion"
  "importante"
}

.cabecera{
  font-size: large;
  justify-content: center;
  align-items: center;
  background-color: olive;
  border: 1px black;
  border-style: ridge;  
  height: 15rem;
  grid-area: header;
 
}
.cabecera h1{
  font-size: 60px;
  text-align: center;  
}
.cabecera h2{
  font-size: 40px;
  font-family:'Square Peg', cursive;
  text-align: center;  
}
.botoneradenavegacion{
  grid-area: botoneradenavegacion;
  background-color: rgb(247, 105, 23);
  padding: 20px; 
   
}
.botoneradenavegacion ul{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly ;
  list-style:inside;

}
.botoneradenavegacion li{
  background-color: rgb(124, 118, 114);
  border: black 1px solid;
}
.botoneradenavegacion a{
  color: whitesmoke;
  padding: 100px;
}

.importante{
  grid-area: importante;
  background-color: rgb(238, 123, 81);
  background-image: url("./assets/fondoverdenaranja.jpg");
  display: flex;
  flex-direction: column;
}
.importante h3{
  font-size: 30px;
  font-family: fantasy;
  text-align: center;
  border-style: inset;
  border: 2px;
}
.importante p{
  font-size: 40px ;
  font-family: monospace;
  font-style: oblique;
  text-align: center;
}
.importante img{
  width: 300px;
  display: flex;
  flex-direction: row  
}
.articulo{
  border-style: ridge;
  border: 2px;
  border-color: black;
}

.redessociales{
  grid-area: footer;
  background-color: olive;
  border-style: ridge;
  border-color: rgb(43, 49, 42);
  border: 2px;
  bottom: 0;
  margin-top: 0;

 }
.redessociales ul{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly ;
}


.contenedorb{
  display: grid;
  grid-template-areas: 
  "header"
  "botoneradenavegacion"
  "preguntarespuesta"
}
.preguntarespuesta{
  grid-area: preguntarespuesta;
}
.preguntas{
  font-size: 4rem;
  font-family: cursive;
  text-align: center;
}
.respuestas{
  font-size: 2rem;
  font-style: oblique;
  font-family: fantasy;
  text-align: center;
}
.contenedorc{
  display: grid;
  grid-template-areas: 
  "header"
  "botoneradenavegacion"
  "catalogo"
}
.catalogo{
  grid-area: catalogo;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.catalogo img{
  width: 400px; 

}
.catalogo h2 {
  font-size: 3rem;
  font-family: monospace;
  font-style: oblique;
  border: 1px ;
  border-color: black;
  border-style: ridge;
  padding: auto;
  text-align: center; 
}
.separadorlibro h3 {
  font-size: 3rem;
  font-family: monospace;
  font-style: oblique;
  border: 1px ;
  border-color: black;
  border-style: ridge;
  padding: auto;
  text-align: center; 
}
.nombredemascota h4 {
  font-size: 3rem;
  font-family: monospace;
  font-style: oblique;
  border: 1px ;
  border-color: black;
  border-style: ridge;
  padding: auto;
  text-align: center; 
}
@media(min-width:1200px){
  .contenedora{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header "
    "botoneradenavegacion botoneradenavegacion"
    "importante importante"
  }
  .contenedorb{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header"
    "botoneradenavegacion botoneradenavegacion"
    "preguntarespuesta preguntarespuesta";
  }
  .contenedorc{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "botoneradenavegacion botoneradenavegacion botoneradenavegacion"
    "catalogo catologo catologo"
  }

}
